# Python
_pycache_/
*.py[cod]
*.pyo
*.pyd
*.pytest_cache
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Environment
.env
*.env

# Data dumps (keep only curated samples)
data/
*.parquet
*.log

# Docker / Airflow
logs/
dags/output/

# OS
.DS_Store
Thumbs.db